<div class="page-wrapper">
  <div class="page-title">
    <h2>1. Förklara vad Angular är och varför det används</h2>
  </div>

  <p>
    Angular är ett av de största ramverken för JavaScript. Angular är
    open-source och det är Google som underhåller det.
  </p>
  <p>
    Det primära syftet med att använda sig av Angular är att skapa relativt
    stora single page applications (SPAs). Man kan också använda sig av Server
    Side Rendering med Angular om man skulle vilja det.
  </p>
  <p>
    Genom att man använder sig av Angular så får man en grundstruktur för en
    webbapplikation och det gör livet lite enklare för oss utvecklare då man
    slipper tänka på de alla de delarna utan man kan gå vidare och strukturera
    upp resterande delar efter egen vilja.
  </p>
</div>
