<div class="page-wrapper">
  <div class="page-title">
    <h2>
      {{content.title}}
    </h2>
    <form #f="ngForm" (ngSubmit)="onChangeText(f)" novalidate>
      <input
        type="text"
        name="text"
        ngModel
        required
        #first="ngModel"
        placeholder="Ändra på titeln..."
        value="{{ content.title }}"
        class="custom-input"
      />
      <button class="custom-btn" type="submit">Ändra text</button>
    </form>
    <button class="custom-btn" (click)="onResetText()">Återställ text</button>
  </div>

  <p>
    {{content.p1}}
  </p>
  <p>
    {{content.p2}}
  </p>
  <p>
    {{content.p3}}
  </p>

</div>
