<footer class="footer-container">
  <div class="footer-wrapper">
    <div class="logo-wrapper">
      <h2><a routerLink="/home" routerLinkActive="active-link">Mattis.</a></h2>
    </div>
    <nav class="nav-wrapper">
      <ul>
        <li>
          <a routerLink="/angular" routerLinkActive="active-link">Angular</a>
        </li>
        <li>
          <a routerLink="/angular-arkitektur" routerLinkActive="active-link"
            >Angular Arkitektur</a
          >
        </li>
        <li><a routerLink="/spa" routerLinkActive="active-link">Spa</a></li>
        <li>
          <a routerLink="/typescript" routerLinkActive="active-link"
            >TypeScript</a
          >
        </li>
        <li>
          <a routerLink="/webb-app-vs-spa" routerLinkActive="active-link"
            >Webbapp vs Spa</a
          >
        </li>
      </ul>
    </nav>
  </div>
</footer>
