form {
  margin-top: 20px;
}

input {
  font-size: 18px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  outline: none;
  color: rgb(65, 65, 65);
  background-color: #fff;
}

input + input {
  margin-top: 10px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.button-wrapper {
  margin-bottom: 30px;
}

a {
  background-color: rgb(116, 0, 0);
}
