<div class="kontakt-wrapper">
  <div class="button-wrapper">
    <a
      class="btn"
      *ngIf="getCurrentRoute() === '/home/kontakt'"
      routerLink="/home"
      >Stäng Formuläret</a
    >
  </div>
  <h2>Kontakta Mig</h2>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input
      name="namn"
      ngModel
      required
      #first="ngModel"
      placeholder="Namn..."
    />
    <input type="email " name="email" ngModel placeholder="Din e-mail..." />
    <input
      type="message"
      name="message"
      id="message"
      placeholder="Ditt meddelande..."
      ngModel
    />
    <input type="submit" value="Skicka" />
  </form>
</div>
