<div class="page-wrapper">
  <div class="page-title">
    <h2>
      4. Redogör för vad TypeScript är och dess syfte (varför vill vi använda
      typescript)
    </h2>
  </div>

  <p>
    TypeScript är ett Superset av JavaScript. Med det menas att TypeScript
    agerar som ett lager ovanför JavaScript och sedan kompileras all TypeScript
    kod till Vanilla JS kod.
  </p>
  <p>
    TypeScript används för att adressera vissa problem som kan uppstå med
    Vanilla JavaScript. Den största skillnaden mellan TypeScript och JavaScript
    är att TypeScript är hårdkodat medans JavaScript är lös-typat. Genom att man
    måste sätta vilken datatyp som man vill använda på en variabel säkerställer
    man att den skapade variabeln endast kan acceptera vald datatyp.
  </p>
  <p>
    Genom att använda sig av TypeScript så blir koden mer strukturerad och
    hållbar. Det finns flera exempel på riktigt stora företag som har bytt från
    vanilla js till typescript och där såg man en drastiskt minskning av antalet
    buggar i koden.
  </p>
  <p>
    TypeScript ger också mer hjälp när man skriver kod då TypeScript har en bra
    intellisens och TypeScript känner också av när man har skrivit något fel och
    då får man ett meddelande så man kan ändra sin kod vilket gör att buggar
    upptäcks mycket tidigare med TypeScript än med Vanilla JavaScript.
  </p>
</div>
