<header class="header-container">
  <div class="header-wrapper">
    <div class="logo-wrapper">
      <h2><a routerLink="/home">Mattis.</a></h2>
    </div>
    <nav class="nav-wrapper">
      <ul>
        <li><a routerLink="/angular">Angular</a></li>
        <li><a routerLink="/angular-arkitektur">Angular Arkitektur</a></li>
        <li><a routerLink="/spa">Spa</a></li>
        <li><a routerLink="/typescript">TypeScript</a></li>
        <li><a routerLink="/webb-app-vs-spa">Webbapp vs Spa</a></li>
      </ul>
    </nav>
  </div>
</header>
