<div class="page-wrapper">
  <div class="page-title">
    <h2>{{ content.title }}</h2>
    <form #f="ngForm" (ngSubmit)="onChangeText(f)" novalidate>
      <input
        type="text"
        name="text"
        ngModel
        required
        #first="ngModel"
        placeholder="Ändra på titeln..."
        value="{{content.title}}"
        class="custom-input"
      />
      <button class="custom-btn" type="submit">Ändra text</button>
    </form>
    <button class="custom-btn"(click)="onResetText()">Återställ text</button>
  </div>

  <div class="hero-img">
    <img src="{{ content.img1 }}" alt="" />
  </div>

  <p>{{ content.p0 }}</p>

  <div class="content-section">
    <h3>{{ content.s1 }}</h3>
    <p>
      {{ content.p1 }}
    </p>
  </div>
  <div class="content-section">
    <h3>{{ content.s2 }}</h3>
    <p>
      {{ content.p2 }}
    </p>
  </div>
  <div class="content-section">
    <h3>{{ content.s3 }}</h3>
    <p>
      {{ content.p3 }}
    </p>
  </div>
  <div class="content-section">
    <h3>{{ content.s4 }}</h3>
    <p>
      {{ content.p4 }}
    </p>
  </div>
  <div class="content-section">
    <h3>{{ content.s5 }}</h3>
    <p>
      {{ content.p5 }}
    </p>
    <img src="{{ content.img2 }}" alt="En bild av metadata i Angular" />
  </div>
  <div class="content-section">
    <h3>{{ content.s6 }}</h3>
    <p>
      {{ content.p6 }}
    </p>
    <img
      src="{{ content.img3 }}"
      alt="En bild av metoder för att skicka data i Angular"
      style="width: 30%"
    />
  </div>
  <div class="content-section">
    <h3>{{ content.s7 }}</h3>
    <p>
      {{ content.p7 }}
    </p>
  </div>
  <div class="content-section">
    <h3>{{ content.s8 }}</h3>
    <p>
      {{ content.p8 }}
    </p>
  </div>
  <div class="content-section">
    <h3>{{ content.s9 }}</h3>
    <p>
      {{ content.p9 }}
    </p>
  </div>
</div>
