<div class="page-wrapper">
  <div class="page-title">
    <h2>2. Förklara vad Single Page Applications är</h2>
  </div>

  <p>
    En Single Page Application (SPA) är kortfattat så som det låter, det är en
    applikation som endast har en html sida. Det innebär att man hämtar in
    grunden för applikationen vid första inladdningen av sidan och sedan kan
    nytt innehåll renderas ut dynamiskt.
  </p>
  <p>
    Med en SPA kan webbläsaren rendera om utvalda delar på en html sida medans
    en traditionell web app måste rendera om hela sidan. Genom att en SPA kan
    rendera ut enskilda delar på en sida blir en SPA app väldigt snabb då man
    bara laddar om det som behövs.
  </p>
</div>
